$breakpoint-xs: 767px !default;
$breakpoint-375: 375px !default;
$breakpoint-414: 414px !default;
$breakpoint-sm: 768px !default;
$breakpoint-md: 992px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-xl: 1600px !default;

$ipad-limit: 991px !default;

@mixin xs() {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin iPhone() {
  @media (min-width: $breakpoint-375) {
    @content;
  }
}

@mixin iPhonePlus() {
  @media (min-width: $breakpoint-414) {
    @content;
  }
}

@mixin sm() {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin iPadOnly() {
  @media (min-width: $breakpoint-sm) and (max-width: $ipad-limit) {
    @content;
  }
}

@mixin md() {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}
