
/*

Features

*/

.Features {
  padding: 0;

  .row {
    @include xs {
      margin-right: 0;
    }

    @include iPadOnly {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .feature-col {
    @include xs {
      padding-right: 0;
    }
  }

  @include md {
    padding: 0 15px;
  }

  @include sm {
    .feature-col {
      padding: 0 2.5px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .Feature {
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
    margin-bottom: 5px;
    overflow: hidden;

    @include md {
      height: 100%;
      padding-bottom: 32px;
    }

    .image-placeholder {
      @include iPadOnly {
        width: 50%;
        height: 100%;
        padding-bottom: 0;
        position: absolute;
      }
    }

    .card-body {
      @include iPhonePlus {
        padding: 40px;
      }

      @include iPadOnly {
        width: 50%;
        position: relative;
        left: 50%;
      }
    }

    .card-icon {
      margin-bottom: 10px;
    }

    .card-title {
      font-size: 24px;

      @include iPhone {
        font-size: 32px;
      }

      @include md {
        font-size: 2.6vw;
      }

      @include lg {
        font-size: 32px;
      }
    } // .card-title

    .card-text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;

      @include iPhone {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .btn {
      margin-bottom: 0px;

      @include md {
        position: absolute;
        bottom: 40px;
      }
    }
  } // .Feature
} // .Features
