
/*

Headliner

*/

.Headliner {
  text-align: center;
  padding: 15px;

  @include sm {
    padding: 40px 0;
  }

  .row {
    margin: 0;
  }

  .card {
    background: #f8f9fa;
    border: none;
    border-radius: 18px;
    padding-top: 20px;

    @include sm {
      padding-top: 40px;
    }

    .card-img-top {
      width: 70%;
      margin: 0 auto 20px auto;

      @include lg {
        width: 50%;
      }
    }

    .card-body {
      font-size: 14px;
      padding: 10px;
      padding-top: 0;

      @include iPhone {
        font-size: 16px;
      }

      @include sm {
        font-size: 20px;
        padding: 20px 40px 0 40px;
      }

      @include lg {
        padding: 20px 60px 0 60px;
      }

      h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;

        @include iPhone {
          font-size: 22px;
        }

        @include sm {
          font-size: 32px;
        }

        small {
          display: block;
          padding-top: 5px;
          font-size: 18px;

          @include iPhone {
            font-size: 20px;
          }
        }
      } // h2

      p {
        margin-bottom: 20px;
      }

      .app-links {
        margin-bottom: 0;
        padding-top: 10px;

        @include sm {
          padding-top: 20px;
        }

        a {
          img {
            width: 50%;
            margin: 0px 10px 15px 10px;

            @include iPhone {
              width: 130px;
            }
          }
        } // a
      } // .app-links

      p:last-child {
        margin-bottom: 10px;

        @include sm {
          margin-bottom: 20px;
          font-size: 16px;
        }
      }
    } // .card-body
  } // .card
} // .Headliner
