
/*

Jumbotron

*/

.jumbotron {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85vh;
  border-radius: 0;
  position: relative;
  margin-bottom: 0px;
  border-bottom: solid 1px #000;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&0+0,0+45,0.5+63,1+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 45%, rgba(255,255,255,0.5) 63%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0) 45%,rgba(255,255,255,0.5) 63%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0) 45%,rgba(255,255,255,0.5) 63%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    opacity: 0.9;
  } // &:before

  .slogan {
    position: absolute;
    bottom: 10px;

    @include sm {
      bottom: 5vh;
    }

    @include md {
      margin-left: 5%;
    }

    p {
      font-size: 36px;
      font-weight: 600;
      font-style: italic;
      margin-bottom: -3px;

      @include iPhone {
        font-size: 42px;
      }

      @include iPhonePlus {
        font-size: 48px;
      }

      @include md {
        font-size: 5vw;
      }
    }

    h1 {
      font-size: 42px;
      font-weight: 300;
      font-style: italic;

      @include iPhone {
        font-size: 48px;
      }

      @include iPhonePlus {
        font-size: 56px;
      }

      @include md {
        font-size: 7vw;
      }
    }
  } // .slogan
} // .jumbotron
