
/*

Jumbotron

*/

.jumbotron {
  background-size: cover;
  background-position: bottom;
  height: 85vh;
  border-radius: 0;
  margin-bottom: 0px;
  position: relative;
  padding: 0;
  color: white;
  font-style: italic;

  .jumbotron-overlay {
    background: red;
    width: 100%;
    height: 100%;
    position: absolute;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0+0,0.85+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
  }

  .jumbotron-text {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;

    h1 {
      font-size: 4.5vw;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      font-size: 2.2vw;
      line-height: 2.6vw;
      margin-bottom: 30px;
    }

    .btn {
      font-size: 2.2vw;
      padding: 8px 25px;
      margin: 0 10px;
      background: #f8f9fa;
      border: none;
      color: black;
    }
  } // .jumbotron-text
} // .jumbotron
