
/*

Componentes Miscelaneos

*/

.image-placeholder {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;
}

.nowrap {
  display: inline-block;
}

.btn {
  font-size: 14px;

  &:hover {
    transform: scale(1.03);
  }

  @include iPhone {
    font-size: 16px;
  }
}

.btn-outline-primary {
  color: #003e52;
  border-color: #003e52;
  text-align: center;

  &:hover {
    background: transparent;
    border-color: #003e52;
    color: #003e52;
  }
}
