
/*

navbar-toggler

*/

.navbar {
  background-color: rgba(255,255,255,0.9);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  height: 56px;

  .navbar-brand {
    position: absolute;
    left: -1px;
    top: 0;
    padding: 0;
    z-index: 99;

    img {
      width: 103px;

      @include sm {
        width: 140px;
      }

      @include md {
        width: 160px;
      }
    }
  } // .navbar-brand

  .navbar-toggler {
    border: 0;
    color: #666;
    letter-spacing: 1px;
    font-size: 15px;
    position: absolute;
    right: 0;

    &:focus {
      outline: 0;
    }
  } // .navbar-toggler

  .nav-link {
    color: #333;
    font-weight: bold;
    border-radius: 3px;
    transition: background 0.15s ease-in-out;

    &:hover {
      background: #eee;
    }

    @include xs {
      font-size: 20px;
    }

    @include sm {
      font-weight: normal;
      margin-left: 20px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
  } // .navbar-toggler

  .navbar-collapse {
    @include xs {
      position: absolute;
      width: 100%;
      left: 0;
      top: 56px;
      padding: 0 40px;
      background-color: rgba(255,255,255,0.9);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);

      .navbar-nav {
        padding: 20px 0;
      }
    }
  } // .navbar-collapse
} // .navbar
