<!-- Jumbotron -->
<div class="jumbotron" style="background-image: url('assets/img/dos-ingenieros.jpg');">
  <div class="slogan">
    <p>Es posible.</p>
    <h1>Haz negocios <span class="nowrap">con energía.</span></h1>
  </div>
</div>
<!-- /Jumbotron -->
